Repository i-like-robots/hardened-fetch: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Add husky Git hooks
  .husky/pre-push
  .huskyrc.js
  .npmignore
Due: prettier --write, eslint --fix

Add nextPage() callback to enable customisation of paginatedFetch() method
  src/HardenedFetch.ts
  src/options.d.ts
Due: prettier --write, eslint --fix

Add test for nextPage() callback
  src/HardenedFetch.spec.ts
  src/HardenedFetch.ts
  src/options.d.ts
Due: prettier --write, eslint --fix

Document nextPage option
  README.md
  src/options.d.ts
Due: prettier --write, eslint --fix

Refactor failed request callback to be agnostic of Bottleneck queue
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
Due: prettier --write, eslint --fix

Remove dependency on http-errors package in favour of simple HTTPError class
  package-lock.json
  package.json
  src/HardenedFetch.spec.ts
  src/errors.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/makeRequest.spec.ts
  src/makeRequest.ts
Due: prettier --write, eslint --fix

Make Node v20 the minumum supported version
  README.md
  package-lock.json
  package.json
Due: prettier --write

Refactor makeRequest() to support multiple abort signals
  src/makeRequest.spec.ts
  src/makeRequest.ts
Due: prettier --write, eslint --fix

Refactor to use simple-rate-limited-queue module instead of bottleneck as it seems to be unmaintained
  package-lock.json
  package.json
  src/HardenedFetch.spec.ts
  src/HardenedFetch.ts
  src/handleFailed.ts
Due: prettier --write, eslint --fix

Add tests to cover timestamps in seconds and offsets in milliseconds
  src/utils.spec.ts
Due: prettier --write, eslint --fix

Use interface definitions for options to improve TS error messages
  src/options.d.ts
Due: prettier --write, eslint --fix

Refactor options to reflect options for simple-rate-limited-queue package
  README.md
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/options.d.ts
Due: prettier --write, eslint --fix

Add support for doNotRetryMethods option to skip retries for requests with unsafe methods
  README.md
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/options.d.ts
Due: prettier --write, eslint --fix

Add support for retrying specific network errors
  src/errors.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
Due: prettier --write, eslint --fix

Refactor reset header handling into separate module with fewer responsibilities
  src/handleFailed.ts
  src/utils/parseResetHeader.spec.ts
  src/utils/parseResetHeader.ts
Due: prettier --write, eslint --fix

Rename doNotRetry option to doNotRetryCodes to differentiate from new doNotRetryMethods option
  README.md
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/options.d.ts
Due: prettier --write, eslint --fix

Remove unused getResponseDate() and getResetHeader() header
  src/HardenedFetch.ts
  src/utils.spec.ts
  src/utils.ts
  src/utils/joinBaseUrl.spec.ts
  src/utils/joinBaseUrl.ts
Due: prettier --write, eslint --fix

Extend default doNotRetryCodes option value to include more unrecoverable error codes
  README.md
  package.json
  src/HardenedFetch.ts
Due: prettier --write, eslint --fix

Remove paginatedFetch method as there are far too many variants to reasonably support
  README.md
  package.json
  src/HardenedFetch.spec.ts
  src/HardenedFetch.ts
Due: prettier --write, eslint --fix

Update changelog
  CHANGELOG.md
  package-lock.json
Due: prettier --write

Update test workflow to use Node v22 instead of v18
  .github/workflows/test.yml
  CHANGELOG.md
Due: prettier --write

Bump node actions
  .github/workflows/test.yml
Due: prettier --write

Update module description
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

2.0.0-beta.0
  package-lock.json
  package.json
Due: prettier --write

Refactor rateLimitHeader into rateLimitHeaders option so the package is likely to work out of the box
  CHANGELOG.md
  README.md
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/options.d.ts
  src/utils/findHeader.spec.ts
  src/utils/findHeader.ts
Due: prettier --write, eslint --fix

Refactor reset header parsing to automatically detect datetime strings vs timestamps and deltas in seconds
  CHANGELOG.md
  README.md
  src/HardenedFetch.ts
  src/handleFailed.spec.ts
  src/handleFailed.ts
  src/options.d.ts
  src/utils/parseResetHeader.spec.ts
  src/utils/parseResetHeader.ts
Due: prettier --write, eslint --fix

Add logic to automatically detect timestamps and deltas in seconds or milliseconds
  README.md
  package.json
  src/utils/getMillisecondDelta.spec.ts
  src/utils/getMillisecondDelta.ts
  src/utils/parseResetHeader.spec.ts
  src/utils/parseResetHeader.ts
Due: prettier --write, eslint --fix

2.0.0-beta.1
  package-lock.json
  package.json
Due: prettier --write

Export HTTPError class so that it can be used for typing and guard conditions
  src/index.ts
Due: prettier --write, eslint --fix

2.0.0-beta.2
  package-lock.json
  package.json
Due: prettier --write

Remove unnecessary extra ternary logic from rate limit detection
  src/handleFailed.ts
Due: prettier --write, eslint --fix

Update changelog
  CHANGELOG.md
Due: none

2.0.0
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,cjs,mjs,jsx}) or (any of: **/*.{json,yml})
  eslint --fix: any of: **/*.{ts,tsx,js,cjs,mjs,jsx}
